/* Estilos base */

.cuerpaso {
    background-image: url(https://i.pinimg.com/originals/04/05/6e/04056ed655528bc080b0e11ef1f45d4b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    text-align: center;
    color: white;
    font-size: xx-large;
    -webkit-text-stroke: 1px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
    display: flex;
    justify-content: center;
}

.login {
    background-color: rgba(255, 255, 255, 0.244);
    width: 400px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
}

.usu {
    margin-top: 10%;
}

.contra {
    margin-top: 20%;
}

.inicio_S {
    margin-top: 10%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.boton {
    margin-top: 8%;
}

.ingreso {
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    border: 0;
}

.pie {
    margin-top: 4%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}


/* Media queries para responsividad */

@media screen and (max-width: 768px) {
    .cuerpaso {
        background-image: url(https://images.hdqwalls.com/download/shigatsu-wa-kimi-no-uso-playing-violin-ha-1125x2436.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .login {
        width: 80%;
        height: auto;
        margin: 10% auto;
        padding: 20px;
    }
    .usu,
    .contra,
    .inicio_S,
    .boton {
        margin-top: 5%;
    }
    .ingreso {
        width: 80px;
        height: 25px;
    }
    header {
        margin-bottom: 20%;
        text-align: center;
        color: white;
        font-size: large;
        -webkit-text-stroke: 1px black;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}